menu clear
menu background splash.png
menu color title       * #FFCDB8FF #00000000 none
menu color border      * #00000000 #00000000 none
menu color unsel       * #FFD8D2E6 #00000000 none
menu color hotkey      1;36;40 #FFB97BFF #00000000 none
menu color sel         * #FFFFFFFF #FF6430C9 *
menu color hotsel      1;7;37;40 #FFFFFFFF #FF6430C9 *
menu color tabmsg      * #FFB9AFCB #00000000 none
menu color help        * #FFB9AFCB #00000000 none
menu color timeout_msg * #FFB9AFCB #00000000 none
menu color timeout     * #FFFFFFFF #00000000 none
# Row positions are relative to vshift. Keep all rows <=24 for text fallback.
menu vshift 12
menu rows 4
menu helpmsgrow 9
menu cmdlinerow 12
menu timeoutrow 10
menu tabmsgrow 11
menu tabmsg ENTER starts Lumen OS | TAB edits boot options
