source /boot/grub/config.cfg

menuentry "Start Lumen OS" --hotkey=l {
	linux @KERNEL_LIVE@ @APPEND_LIVE@
	initrd @INITRD_LIVE@
}

menuentry "Lumen OS compatibility mode" --hotkey=c {
	linux @KERNEL_LIVE@ @LB_BOOTAPPEND_LIVE_FAILSAFE@
	initrd @INITRD_LIVE@
}

submenu "System tools" --hotkey=t {
	source /boot/grub/theme.cfg
	if [ "${grub_platform}" = "efi" ]; then
		menuentry "UEFI firmware settings" --hotkey=f {
			fwsetup
		}
	fi
	if @ENABLE_VERIFY_CHECKSUMS@; then
		menuentry "Verify Lumen OS boot media" --hotkey=v {
			linux @KERNEL_LIVE@ @APPEND_VERIFY_CHECKSUMS@
			initrd @INITRD_LIVE@
		}
	fi
}
